.signup
  .signup-header
    =link_to root_path, class: 'signup-header__logo'do
      = image_tag "logo.svg",  size: "185x49"
  .signup-main
    .signup-contents
      .signup-contents__title
        新規会員登録
      .signup-contents__form
        .sginup-btn
          = link_to user1_signups_path, class: "sginup-btn__email" do
            メールアドレスで登録する
            = fa_icon 'envelope', class: 'fas.fa-envelope icon'
          .sginup-btn__facebook
            = fa_icon 'facebook-square', class: 'fab.fa-facebook-square icon'
            Facebookで登録する
          .sginup-btn__google
            = fa_icon 'google', class: 'fab.fa-google icon'
            Googleで登録する
  = render 'signups/signup_footer'
