.signup-header
  .logo
    %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308"}
  .signup-bar
    %ol.signup-lists
      %li.signup-list.active-title
        会員情報
        .list-round-left.active-round
      %li.signup-list
        電話番号認証
        .list-round
      %li.signup-list
        お届け先住所入力
        .list-round
      %li.signup-list
        支払い方法
        .list-round
      %li.signup-list
        完了
        .list-round-right
.signup-main
  .main-contents
    .main-contents-title 会員情報入力
    = form_for @user, url: user2_signups_path, method: :get do |f|
      .form-group
        %label.form-label ニックネーム
        %span.form-require 必須
        = f.text_field :nickname, placeholder: '例) メルカリ太郎', class:'input-box'
      .form-group
        %label.form-label メールアドレス
        %span.form-require 必須
        = f.email_field :email, placeholder: 'PC・携帯どちらでも可', class:'input-box'
      .form-group
        %label.form-label パスワード
        %span.form-require 必須
        = f.password_field :password, placeholder: '7文字以上', class:'input-box'
      .form-group
        %label.form-label パスワード (確認)
        %span.form-require 必須
        = f.password_field :password_confirmation, placeholder: '7文字以上', class:'input-box'
      .form-group
        %label 本人確認
        %p
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .form-group
        %div
          %label.form-label お名前(全角)
          %span.form-require 必須
        .flexer
          = f.text_field :last_name, placeholder: '例) 山田', class:'input-box first-half'
          = f.text_field :first_name, placeholder: '例) 彩', class:'input-box second-half'
      .form-group
        %div
          %label.form-label お名前カナ(全角)
          %span.form-require 必須
        .flexer
          = f.text_field :last_name_kana, placeholder: '例) ヤマダ', class:'input-box first-half'
          = f.text_field :first_name_kana, placeholder: '例) アヤ', class:'input-box second-half'
      .form-group
        %div
          %label.form-label 生年月日
          %span.form-require 必須
        .select-wrapper
          .select-box
            .unit-box
              = fa_icon 'sort-down',class: 'fa-sort-down'
              = f.select :birth_year, [["2019","2019"],["2018","2018"],["2017","2017"],["2016","2016"]]
          %span.unit 年
          .select-box
            .unit-box
              = fa_icon 'sort-down',class: 'fa-sort-down'
              = f.select :birth_month, [["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"],["11","11"],["12","12"]]
          %span.unit 月
          .select-box
            .unit-box
              = fa_icon 'sort-down',class: 'fa-sort-down'
              = f.select :birth_day, [["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"],["11","11"],["12","12"]]
          %span.unit 日
      .form-group
        %p.txt
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .form-group
        %p
          「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
      .form-group
        = f.submit "次へ進む", class: 'next-button'
= render 'signup_footer'