.list
  =link_to "", class: "tab-contents__notification link" do
    %img.mercari-icon{src: "https://static.mercdn.net/images/mercari_profile.png"}
    .notification-body
      .notification-body__title
        《速報》今なら販売手数料が実質無料！出品が超お得♪
      .notification-body__time
        = fa_icon 'cog', class: "clock-icon"
        %span 5時間前
    = fa_icon 'chevron-right', class: "right-icon"
.list
  =link_to "", class: "tab-contents__notification link" do
    %img.mercari-icon{src: "https://static.mercdn.net/images/mercari_profile.png"}
    .notification-body
      .notification-body__title
        《速報》今なら販売手数料が実質無料！出品が超お得♪
      .notification-body__time
        = fa_icon 'cog', class: "clock-icon"
        %span 5時間前
    = fa_icon 'chevron-right', class: "right-icon"
.list
  =link_to "", class: "tab-contents__notification link" do
    %img.mercari-icon{src: "https://static.mercdn.net/images/mercari_profile.png"}
    .notification-body
      .notification-body__title
        《速報》今なら販売手数料が実質無料！出品が超お得♪
      .notification-body__time
        = fa_icon 'cog', class: "clock-icon"
        %span ５時間前
    = fa_icon 'chevron-right', class: "right-icon"
.list
  =link_to "", class: "tab-contents__notification link" do
    %img.mercari-icon{src: "https://static.mercdn.net/images/mercari_profile.png"}
    .notification-body
      .notification-body__title
        《速報》今なら販売手数料が実質無料！出品が超お得♪
      .notification-body__time
        = fa_icon 'cog', class: "clock-icon"
        %span ５時間前
    = fa_icon 'chevron-right', class: "right-icon"
.list
  =link_to "", class: "tab-contents__notification link" do
    %img.mercari-icon{src: "https://static.mercdn.net/images/mercari_profile.png"}
    .notification-body
      .notification-body__title
        《速報》今なら販売手数料が実質無料！出品が超お得♪
      .notification-body__time
        = fa_icon 'cog', class: "clock-icon"
        %span ５時間前
    = fa_icon 'chevron-right', class: "right-icon"