.mypage-side_bar
  .maypage-nav-list
    .mypage-nav
      = link_to "", class: "mypage-nav__link active-nav" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            マイページ
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon active-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            お知らせ
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            やることリスト
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link " do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            いいね！一覧
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            出品する
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            出品した商品 - 出品中
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            出品した商品 - 取引中
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            出品した商品 - 売却済み
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            購入した商品 - 取引中
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            購入した商品 - 過去の取引
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            ニュース一覧
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            評価一覧
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            ガイド
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            お問い合わせ
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
  
  .mypage-nav__head
    メルペイ

  .maypage-nav-list
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            売上・振込申請
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            ポイント
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"

  .mypage-nav__head
    設定
  .maypage-nav-list
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            プロフィール
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            発送元・お届け先住所変更
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            支払い方法
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            メール/パスワード
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            本人情報
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to "", class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            電話番号の確認
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"
    .mypage-nav
      = link_to logout_user_path, class: "mypage-nav__link" do
        .mypage-nav__link__content
          .mypage-nav__link__content__title
            ログアウト
          .mypage-nav__link__content__icon
            = fa_icon 'chevron-right', class: "nav-right-icon"