.header
  = render "layouts/header"

.mail-password
  .mail-password-container__side-bar
    = render 'side-bar'

  .mail-password_content
    .mail-password-mypage
    
    .

.app-banner
  = render "layouts/banner"

.footer
  = render "layouts/footer"

.display-btn
  = render "layouts/display_btn"
