- breadcrumb :"users/preview"

.wrapper
  .header
    = render "layouts/header"

  = render "layouts/nav"
  .container
    .container__side-bar
      = render 'side-bar'

    .user-preview_content
      .heading
        %h2.title-head 本人情報の登録
      = form_for ([@user,@streetaddress]), url: user2_signups_path, method: :post do |f|
        .form
          %p お客さまの本人情報をご登録ください。
          %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          .link-box
            = link_to root_path ,class: "text-link" do
              本人確認書類のアップロードについて
              = fa_icon 'arrow-right'

          .user-info
            %label お名前
            %p 
              = @user.last_name + @user.first_name

          .user-info
            %label お名前カナ
            %p
              = @user.last_name_kana + @user.first_name_kana

          .user-info
            %label 生年月日
            %p
              = "#{@user.birth_year}" + "/" + "#{@user.birth_month}" + "/" + "#{@user.birth_day}"

          .user-info
            %label 郵便番号
            %span.form-arbitrary 任意
            = f.text_field :post_number, value: @streetaddress.post_number, placeholder: '例) 123-4567', class: 'input-text'

          .user-info
            %label 都道府県
            %span.form-arbitrary 任意
            .pulldown-boxes
              = f.select :prefecture, Streetaddress.prefectures.keys
              = fa_icon 'sort-down',class: 'fa-sort-down2'

          .user-info
            %label 市区町村
            %span.form-arbitrary 任意
            = f.text_field :city, value: @streetaddress.city, placeholder: '例) 横浜市緑区', class: 'input-text'

          .user-info
            %label 番地
            %span.form-arbitrary 任意
            = f.text_field :address, value: @streetaddress.address, placeholder: '例) 青山1-1-1', class: 'input-text'

          .user-info
            %label 建物名
            %span.form-arbitrary 任意
            = f.text_field :building_name, value: @streetaddress.building_name, placeholder: '例) 柳ビル103', class: 'input-text'

          = f.submit "登録する", class: 'btn btn-red'
          .text-right
            = link_to root_path ,class: "text-link" do
              本人情報の登録について
              = fa_icon 'arrow-right'

  .app-banner
    = render "layouts/banner"

  .footer
    = render "layouts/footer"

  .display-btn
    = render "layouts/display_btn"
