.header 西田（ヘッダー）
.mypage
  .mypage__container
    = render 'side-bar'
    .mypage-content
      .mypage-content__user
        .mypage-content__user--profile
          = link_to "", class: "user_link user_link--name" do
            .user_link__icon
            .user_link__name.bold
              name
        .mypage-content__user--rating
          = link_to "", class: "user_link" do
            .user_link__detail
              .user-rate
                評価
                %span.num
                  1 
              .products-num
                出品数
                %span.num
                  0
      .mypage-content__tab
        .mypage-tabs
          = link_to "", class: "mypage-tabs__notification" do
            お知らせ
          = link_to "", class: "mypage-tabs__todo" do
            やることリスト
        .tab-contents
          = render 'notification-list'
          .list-display
            =link_to "", class: "link" do
              .list-display__btn
                一覧を見る
      .mypage-product-container
        .mypage-product-container__head
          購入した商品
        .mypage-product-container__tabs
          .mypage-product-container__tabs__trading
            取引中
          .mypage-product-container__tabs__traded
            過去の取引
        .mypage-product-container__content
          取引中の商品はありません
  .display-btn
    = render "layouts/display_btn"