- breadcrumb :"users/sms_confirmation"
.header
  = render "layouts/header"

= render "layouts/nav"
.phone
  .phone__container
    = render 'side-bar'
    .phone-content
      .confirmation-head
        完了
      .confirmation-text
        確認済みです

.app-banner
  = render "layouts/banner"

.footer
  = render "layouts/footer"

.display-btn
  = render "layouts/display_btn"
