.product-wrapper
  .header
    = render "layouts/header"

  .product-container
    .product-container__side-bar
      = image_tag 'mercari_side_banner.jpg', size: "280x238"

    .product-content
      .product-item-name
        m70068440240 この商品は削除されました
      .product-items-box
        .product-items-name
          = link_to "", class: "product-text-link" do
            %h2 コーチのショルダーバックその他の商品
        .product-items-list
          .product-item-box
            .product-item-box-photo
              = image_tag 'COACH-photo.jpg', size: "220x220"
            .product-item-box-body
              .product-item-box-body-name
                %h3 COACH コーチ ショルダーバッグ
              .product-item-box-body-price
                ¥15,000
          .product-item-box
            .product-item-box-photo
              = image_tag 'COACH-photo.jpg', size: "220x220"
            .product-item-box-body
              .product-item-box-body-name
                %h3 COACH コーチ ショルダーバッグ
              .product-item-box-body-price
                ¥15,000
          .product-item-box
            .product-item-box-photo
              = image_tag 'COACH-photo.jpg', size: "220x220"
            .product-item-box-body
              .product-item-box-body-name
                %h3 COACH コーチ ショルダーバッグ
              .product-item-box-body-price
                ¥15,000
          .product-item-box
            .product-item-box-photo
              = image_tag 'COACH-photo.jpg', size: "220x220"
            .product-item-box-body
              .product-item-box-body-name
                %h3 COACH コーチ ショルダーバッグ
              .product-item-box-body-price
                ¥15,000
          .product-item-box
            .product-item-box-photo
              = image_tag 'COACH-photo.jpg', size: "220x220"
            .product-item-box-body
              .product-item-box-body-name
                %h3 COACH コーチ ショルダーバッグ
              .product-item-box-body-price
                ¥15,000
          .product-item-box
            .product-item-box-photo
              = image_tag 'COACH-photo.jpg', size: "220x220"
            .product-item-box-body
              .product-item-box-body-name
                %h3 COACH コーチ ショルダーバッグ
              .product-item-box-body-price
                ¥15,000

  .app-banner
    = render "layouts/banner"

  .footer
    = render "layouts/footer"