.header#root-header
  = render 'layouts/header'

.product-index_contents
  .product-index_contents__main
    .top-banner-slider
      = link_to "", class:"top-banner-slider-link" do
        = image_tag "top-banner-camp.jpg", class: "top-banner-slider-image"
      .slider-controller-left
      .slider-controller-right
    .products-category-nav
      .nav-title
        人気のカテゴリー
      .category-nav
        .category-nav_caregorys
          - @popular.each do |popular|
            - if (popular.length != 0)
              .category-nav_caregorys-list
                = link_to "", class: "category-menu-link" do
                  = popular[0]&.category.root.name
    .products-index_categorys
      - @popular.each do |popular|
        - if (popular.length != 0)
          .category-box
            .category-box_header
              .category-box_title
                = popular[0]&.category.root.name + "新着アイテム"
              .category-box_preview
                = link_to "", class: "preview-link" do
                  もっと見る
                  = fa_icon "chevron-right", class: "preview-link-right"
            .category-box_items
              .category-box_grid
                - popular.each.with_index(1) do|product, i|
                  -if (i <= 10)
                    .category-box_product
                      = link_to product_path(product), class: "category-box_product_link" do
                        .category-box_product-box
                          .category-box_product-box__image
                            = image_tag "#{product.images[0]}", size: "188x188"
                            .category-box_product-box__price
                              ¥
                              = product.price
                          .category-box_product-box__title
                            .category-box_product-box__title--name
                              = product.name

    .products-category-nav
      .nav-title
        人気のブランド
      .category-nav
        .category-nav_caregorys
          .category-nav_caregorys-list
            = link_to "", class: "category-menu-link" do
              シャネル
          .category-nav_caregorys-list
            = link_to "", class: "category-menu-link" do
              ルイヴィトン
          .category-nav_caregorys-list
            = link_to "", class: "category-menu-link" do
              シュプリーム
          .category-nav_caregorys-list
            = link_to "", class: "category-menu-link" do
              ナイキ
    .products-index_categorys
      .category-box
        .category-box_header
          .category-box_title
            シャネル新着アイテム
          .category-box_preview
            = link_to "", class: "preview-link" do
              もっと見る
              = fa_icon "chevron-right", class: "preview-link-right"
        .category-box_items
          .category-box_grid
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
      .category-box
        .category-box_header
          .category-box_title
            ルイヴィトン新着アイテム
          .category-box_preview
            = link_to "", class: "preview-link" do
              もっと見る
              = fa_icon "chevron-right", class: "preview-link-right"
        .category-box_items
          .category-box_grid
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
      .category-box
        .category-box_header
          .category-box_title
            シュプリーム新着アイテム
          .category-box_preview
            = link_to "", class: "preview-link" do
              もっと見る
              = fa_icon "chevron-right", class: "preview-link-right"
        .category-box_items
          .category-box_grid
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
      .category-box
        .category-box_header
          .category-box_title
            ナイキ新着アイテム
          .category-box_preview
            = link_to "", class: "preview-link" do
              もっと見る
              = fa_icon "chevron-right", class: "preview-link-right"
        .category-box_items
          .category-box_grid
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
            .category-box_product
              = link_to "", class: "category-box_product_link" do
                .category-box_product-box
                  .category-box_product-box__image
                    = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", class: "", size: "188x188"
                    .category-box_product-box__price
                      ¥1,000
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      商品名
.app-banner
  = render 'layouts/banner'

.footer
  = render "layouts/footer"

.display-btn
  = render "layouts/display_btn"