.product-show-wrapper
  .header
    = render "layouts/header"

  .product-show-detail
    %h1.product-show-name
      = @product.name
    -# %p.product-show-wording
    -#   『（新品）大人気アンダーアーマー パーカー ジャケット』は、264回の取引実績を持つ
    -#   = link_to "", class: "product-show-link" do
    -#     = @seller.nickname
    -#   さんから出品されました。
    -#   = link_to "", class: "product-show-link" do
    -#     アンダーアーマー
    -#   = link_to "", class: "product-show-link" do
    -#     その他/メンズ
    -#   の商品で、静岡県から2~3日で発送されます。

    .product-show-maincontent
      .product-show-image
        - @product.images.each do |image|
          = image_tag "#{image.url.url}", size: "300x300"
      .product-show-detailtable
        .product-show-tr
          .product-show-th
            出品者
          .product-show-td
            = link_to "", class: "product-show-td-link" do
              = @seller.nickname
            .product-show-ratings
              .product-show-iconbox
                = fa_icon 'heart',class: 'product-show-icon1'
                264
              .product-show-iconbox
                = fa_icon 'bell',class: 'product-show-icon2'
                5
              .product-show-iconbox
                = fa_icon 'check',class: 'product-show-icon3'
                1
        .product-show-tr
          .product-show-th
            カテゴリー
          .product-show-td
            .product-show-linkbox
              = link_to "", class: "product-show-categorylink" do
                = @parent.name
            .product-show-linkbox
              = link_to "", class: "product-show-categorylink" do
                >
                = @child.name
            .product-show-linkbox
              = link_to "", class: "product-show-categorylink" do
                >
                = @category.name
        .product-show-tr
          .product-show-block1
            ブランド
          .product-show-block2
            = link_to "", class: "product-show-productlink" do
              アンダーアーマー
        .product-show-tr
          .product-show-block1
            商品サイズ
          .product-show-block2
            = @product.size
        .product-show-tr
          .product-show-block1
            商品の状態
          .product-show-block2
            =@product.status
        .product-show-tr
          .product-show-block1
            配送料の負担
          .product-show-block2
            = @product.costcharge
        .product-show-tr
          .product-show-block1
            配送の方法
          .product-show-block2
            = @product.delivery_way
        .product-show-tr
          .product-show-block1
            配送元地域
          .product-show-block2
            = link_to "", class: "product-show-citylink" do
              = @product.delivery_area
        .product-show-tr
          .product-show-block1
            配送日の目安
          .product-show-block2
            = @product.delivery_date
    .product-show-pricebox
      .product-show-price
        = @product.price
        円
      .product-show-tax
        (税込)
      .product-show-shipping-fee
        送料込み

    - if user_signed_in? && @product.seller_id == current_user.id
      .product-show-buybtn
        = link_to '編集' ,edit_product_path(@product.id),class: "product-show-buylink"

      .product-show-buybtn
        = link_to '削除', "/products/#{@product.id}", method: :delete,class: "product-show-buylink"

    - else
      .product-show-buybtn
        = link_to buy_confirmation_product_path ,class: "product-show-buylink" do
          購入画面に進む

    .product-show-description
      %p.product-show-inner
        = @product.comment
        ※即購入OKです。
        ※購入手続きをされた方を優先とさせていただきます。
        【メーカー】
        UNDER ARMOUR
        %br
        【商品】
        ★アンダーアーマー 新品 メンズ オールシーズンギア 抗菌防臭 パーカー ジャケット ★
        %br
        通年での着用を目的としたオールシーズンギアは、ジャージやスウェットなどの肌寒い程度の体温調整に適したウエアです。
        トップス1枚では寒いけど、寒さ対策の防寒ウエアにはまだまだ…そんな季節の変わりめに大活躍します。
        %br
        素材：ポリエステル
        %br
        【この商品のサイズはメンズ Ｌ サイズ】
        サイズは以下のUNDER ARMOURサイズをご参照ください。
        MD（M）身長167～173cm、胸囲89～95cm、ウエスト75～81cm
        LG（L）身長172～178cm、胸囲93～99cm、ウエスト79～85cm
        XL 身長177～183cm、胸囲97～103cm、ウエスト83～89cm
        %br
        【状態】
        新品
        %br
        【定価】
        7700円
        %br
        送料無料
        発送は極力小さく簡易包装になります。
        %br
        他サイトでも出品してますので売り切れの際はご了承ください
        %br
        他にも多数出品中です。
        プロフィールよりご覧ください。
        続々出品しておりますのでフォローよろしくお願いします。

    .product-show-itembutton
      .product-show-itembutton-left
        = link_to "" ,class: "product-show-goodlink" do
          = fa_icon 'heart-o',class: 'product-show-goodicon'
          .product-show-goodtext
            いいね!2

        = link_to "" ,class: "product-show-reportlink" do
          = fa_icon 'flag',class: 'product-show-reporticon'
          .product-show-reporttext
            不適切な商品の報告

      .product-show-link-right
        = link_to "" ,class: "product-show-linktext" do
          = fa_icon 'key',class: 'product-show-keyicon'
          .product-show-text
            あんしん・あんぜんへの取り組み

  .product-show-messeagecontent
    .product-show-itemlink
      = link_to "" ,class: "product-show-messagelink" do
        < 眼鏡市場メガネケース2色リバーシブル仕様

    .product-show-itemlink
      = link_to "" ,class: "product-show-messagelink" do
        タートルネックボーダーカットソー >

  .product-show-media-box
    = link_to "", class: "product-show-facebook" do
      = fa_icon 'facebook-square',class: 'product-show-facebook-icon'

    = link_to "", class: "product-show-twitter" do
      = fa_icon 'twitter',class: 'product-show-twitter-icon'

    = link_to "", class: "product-show-pinterest" do
      = fa_icon 'pinterest-square',class: 'product-show-pinterest-icon'

  .product-show-boxposition1
    .product-show-items-box
      .product-show-items-name
        = link_to "", class: "product-show-text-link" do
          = @seller.nickname
      .product-show-items-list
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000
          .product-show-items-list
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000

  .product-show-boxposition2
    .product-show-items-box
      .product-show-items-name
        = link_to "", class: "product-show-text-link" do
          %h2 アンダーアーマーのその他商品
      .product-show-items-list
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000
          .product-show-items-list
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000
        .product-show-item-box
          .product-show-item-box-photo
            = image_tag 'COACH-photo.jpg', size: "220x220"
          .product-show-item-box-body
            .product-show-item-box-body-name
              %h3 COACH コーチ ショルダーバッグ
            .product-show-item-box-body-price
              ¥15,000

  .app-banner
    = render "layouts/banner"

  .footer
    = render "layouts/footer"