.app-banner__ad
  .app-banner__ad__download
    .letter-app
      スマホでかんたんフリマアプリ
    .letter-download
      今すぐ無料ダウンロード！
    .store-btns
      = image_tag 'merkari-icon.png', class: "store-btns__mercari-icon", size: "68x68"
      = link_to "", class: "" do
        = image_tag 'AppStore.svg', class: "store-btns__appstore"
      = link_to "", class: "" do
        = image_tag 'GooglePlay.svg', class: "store-btns__google"
  .app-banner__ad__image
    = image_tag 'iphonephoto.png', class: "app-image", size: "300x260"