.header-content
  =link_to root_path do
    .header-content__image
      = image_tag "logo.svg", size: "134x36"
  .header-content__form
    %input.input-default{type: "search", placeholder: "何かお探しですか？", value: ""}
    .search-box
      =link_to "", class: "icon-search" do
        = fa_icon 'search',class: 'search-btn'
.nav
  .nav-left
    .nav-left__cate
      = fa_icon 'list-ul', class: 'left-nav-btn'
      カテゴリーから探す
    .nav-left__bland
      = fa_icon 'tag', class: 'left-nav-btn'
      ブランドから探す
  .nav-right
    .nav-right__like
      =link_to "", class: "pc-header-menu-link" do
        = fa_icon 'heart-o', class: 'right-nav-btn'
        いいね ! 一覧
    .nav-right__info
      =link_to "", class: "pc-header-menu-link" do
        = fa_icon 'bell-o', class: 'right-nav-btn'
        お知らせ
    .nav-right__todo
      =link_to "", class: "pc-header-menu-link" do
        = fa_icon 'check', class: 'right-nav-btn'
        やることリスト
    .nav-right__mypage
      =link_to "", class: "pc-header-menu-link" do
        = image_tag "member_photo_noimage_thumb.png", class: 'user-circle-btn', size: "32x32"
        マイページ